body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.listafooter{
    list-style: none;
    padding: 0;
}

.carouselproductos{
    height: 400px;
    object-fit: cover;
}

lol{
    justify-content: b;
}